/* Always set the map height explicitly to define
the size of the div element that contains the map. */

#map {
  height: 100vh;
  flex: 4;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 90%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
#menu {
  flex: 1;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h1,
h2 {
  margin: 0 0 10px 0;
  padding: 0;
}
input {
  margin: 0 0 5px 0;
}
#menu div {
  margin-left: 10px;
}
.sub-menu {
  border: gray 1px solid;
  border-radius: 3px;
  padding: 10px;
}